:root {
    /* Colors */
    --main-bg-color: #E4DFD2;
    --primary-color: #3A393D;
    --secondary-color: #4E4C52;
    --accent-color: #C95A35;

    /* Font Sizes */
    --heading-one: 2.986rem;
    --heading-two: 2.488rem;
    --heading-three: 2.074rem;
    --heading-four: 1.728rem;
    
}

html {
    background-color: var(--main-bg-color);
}

body {
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    max-width: 1640px;
    padding: 40px;
    display: flex;
}

ul,
ol {
    line-height: 1.5;
}

span {
    color: var(--accent-color);
}

/* NAVBAR SECTION */

#navbar {
    width: 398px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    margin-top: 15px;
}

#navbar header {
    font-size: var(--heading-four);
    font-weight: 600;
    margin-bottom: 20px;
}

#navbar ul li {
    background-color: var(--primary-color);
    margin-bottom: 10px;
    width: 284px;
    height: 64px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar ul li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

#navbar ul li a:hover {
    color: #C95A35;
}

/* MAIN DOCUMENT */

#main-doc {
    width: 950px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#main-doc h1 {
    font-size: var(--heading-one);
    font-weight: 700;
    margin-bottom: 20px;
}

#main-doc h3 {
    font-size: var(--heading-three);
    font-weight: 500;
    margin-bottom: 40px;
}

#main-doc section header {
    font-size: var(--heading-two);
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.5;
}

section#Quick_Start {
    margin-bottom: 40px;
}

#Quick_Start p {
    margin-left: 20px;
    width: 895px;
}

ol li {
    margin-left: 20px;
    margin-bottom: 20px;
}

pre {
    background-color: var(--secondary-color);
    width: 895px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;
    line-height: 1.5;
    overflow: auto;
    margin-bottom: 20px;
}

/* CDN LINK SECTION */

section#CDN_Links {
    margin-bottom: 40px;
}

/* Table */ 

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-top: 3px solid var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
}

thead {
    padding: 20px 50px 20px;
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 80%;
}

tbody th {
    padding: 15px;
}

/* NEXT STEPS SECTION */

section#Next_Steps ul {
    list-style: disc;
    list-style-position: inside;
    font-size: 1rem;
    font-weight: 500;
}

section#Next_Steps li {
    margin-bottom: 10px;
}

section#Next_Steps {
    margin-bottom: 40px;
}

/* JS COMPONENTS SECTION */

section#JS_Components ul {
    list-style: disc;
    list-style-position: inside;
    font-size: 1rem;
    font-weight: 500;
}

section#JS_Components  li {
    margin-bottom: 10px;
}

section#JS_Components  {
    margin-bottom: 40px;
}

/* IMPORTANT GLOBALS SECTION */
section#Important_Globals {
    margin-bottom: 40px;
}

/* HTML5 DOCTYPE SECTION */
section#HTML5_Doctype {
    margin-bottom: 40px;
}

/* VIEWPORT META SECTION */
section#Viewport_Meta {
    margin-bottom: 40px;
}

/* BOX SIZING SECTION */
section#Box_Sizing {
    margin-bottom: 40px;
}

/* REBOOT SECTION */
section#Reboot {
    margin-bottom: 40px;
}

/* COMMUNITY SECTION */
section#Community {
    margin-bottom: 40px;
}

section#Community ul {
    list-style: disc;
    list-style-position: inside;
    font-size: 1rem;
    font-weight: 500;
}

section#Community li {
    margin-bottom: 10px;
}

/* REFERENCES SECTION */
section#References {
    margin-bottom: 40px;
}


/* FOR TABLETS */
@media (max-width: 768px) {
    #navbar {
        display: none;
    }

    :root {
        /* Font Sizes */
        --heading-one: 2.986rem;
        --heading-two: 2.488rem;
        --heading-three: 2.074rem;
    }

    body {
        font-size: 16px;
        max-width: 683px;
    }

    #main-doc {
        width: 80%;
    }
}
